<html>
    <body>
        <h1>Login</h1>
        <br>
        <Button><a href="/auth/google">Google+</a></Button>
        <Button><a href="/login">Login</a></Button>
        <Button><a href="/signup">Signup</a> </Button>

    </body>
</html>.