<html>
    <body>
        <h1>SignUp</h1>
        <form action="/signup" method='POST'>
            UserName : <input type="text" name="username">
            Password : <input type="password" name="pass">
            <input type="submit" value="Sign Up">
        </form>

    </body>
</html>